body {
    font-family: "Roboto", sans-serif;
}


.navbar {
    background-color: #168508;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #105a06;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #e6ffe9;
}

.section-title {
    font-family: "Lacquer", system-ui;
}

.section-title span {
    color: #105a06;
}

#carousel {
    max-height: 420px;
}

#carousel .carousel-item img {
    height: 420px;
    object-fit: cover;
    width: 100%;
}

#sobre-o-restaurante,
#cardapio {
    background-color: #e6ffec;
}

.text-colored {
    color: #105a06;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #0d610d;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #e6e228;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}